@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
  }
}

.join .join-item:last-child:not(:first-child),
.join *:last-child:not(:first-child) .join-item {
  border-radius: 999px !important;
}

.join .join-item:first-child:not(:last-child), .join *:first-child:not(:last-child) .join-item {
  border-radius: 999px !important;
}

.btn:is(input[type="checkbox"]:checked), .btn:is(input[type="radio"]:checked) {
  background-color: rgb(220, 38, 38);
  border-color: rgb(220, 38, 38);
  color: white;
}

.flex-grow-3 {
  flex-grow: 3;
}

.flex-grow-2 {
  flex-grow: 2;
}

.flex-grow-4 {
    flex-grow: 4;
}

.flex-grow-5 {
    flex-grow: 5;
}

p {
  margin-block-end: 0;
  scroll-margin-block-start: 0;
}